@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: 'AnticSans-Regular';
    src: url('/public/fonts/AnticSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
